[submodule "form-validate-ts-webpack"]
	path = form-validate-ts-webpack
	url = https://github.com/JRGCast/formulario-ts-exercicio.git
[submodule "typescript-from-scratch"]
	path = typescript-from-scratch
	url = https://github.com/JRGCast/typescript-from-scratch.git
[submodule "TS-OOP-with-exercises"]
	path = TS-OOP-with-exercises
	url = https://github.com/JRGCast/TS-OOP-learning
